@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;1,300&family=Noto+Sans:wght@600&family=Oswald:wght@300&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&family=REM:wght@300&family=Roboto&family=Roboto+Condensed:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}
